<div id="clients-tab" class="tab-content">
    <div class="widget-row">
        <div class="wide-widget">
            <div class="widget-header">Aktive Kunden (Liste)</div>
            <div class="widget-content">
                <div id="active-customers-list-container">
                    <div class="loading-spinner">
                        <div class="spinner"></div>
                        <div>Kundendaten werden geladen...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
